
.footer {
   
    color: #333;
    padding: 20px;
    text-align: center;
  
    .sub-footer {
      font-size: 18px;
      padding-top: 20px;
      color: #333
    }
  
   
  }
  
  .col-md-4 {
    @include card-style;
    font-size: 18px;
  }
  
  .name {
    font-size: 18px;
  }
  