h1 {
    color: $letr-color;
    font-size: 32px;
    padding-bottom: 30px;
    padding-left: 80px;
  }
  
  .h2 {
    color: $letr-color;
    font-size: 32px;
    padding-bottom: 30px;
    padding-left: 100px;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 28px;
    color: $letr-color;
  }